@use "@material/shape";

.Listen {
	position: relative;

	margin-top: 25px;
	margin-bottom: 25px;

	text-align: center;
}

#MediaControls {
	position: relative;

	width: 330px;
	height: 75px;

	// background: #cccccc;
	border-radius: 8px;

	padding-left: 15px;
	padding-right: 15px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

#WMTNStream_Mobile {
	position: relative;

	width: 100%;

	border-radius: 8px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

#VolumeIcon {
	position: relative;

	float: left;
	height: 100%;
	width: 15%;

	display: flex;

	input {
		font-size: 32px;
		user-select: none;

		margin: auto;
		margin-left: 5px;
		margin-right: 10px;

		background: none;
		border: none;

		color: #000000;
	}

	input:hover {
		color: var(--mdc-theme-primary);
	}
}

#VolumeContainer {

	position: relative;

	float: right;
	display: flex;

	height: 100%;
	width: 75%;

	margin-right: 15px;
}

#VolumeSlider {
	position: relative;

	width: 100%;
	margin: auto;

}

#CurrentlyPlaying-title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#CurrentlyPlaying-song {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

#CurrentlyNext-title {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#CurrentlyNext-song {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}